body {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  color: #000000;
}

h1 {
  text-allign: center;
}

a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.projects {
  display: inline-block;
  margin-bottom: 10px;
  padding: 20px 50%;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.space {
  margin: 35px 0px;
}

p.bigspace {
  margin: 70px 0px;
}

.hero-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	animation: gradient 15s ease infinite;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media (prefers-color-scheme: dark) {
  a {
    background-color: #f3f3f3;
    color: white
  }
  
  h1, h3 {
    color: #FFFFFF
  }
  
  body {
    background-color: #121212;
    color: white;
}

