body {
            background: #f3f3f3;
            font-family: system-ui;
            color: #000000;
        }


a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.projects {
  display: inline-block;
  margin-bottom: 10px;
  padding: 20px 50%;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.space {
  margin: 35px 0px;
}

p.bigspace {
  margin: 70px 0px;
}

div.alert-banner {
          overflow: hidden;
            border-radius: 8px;
            background-color: #ADD8E6;
            position: top;
            top: 0px;
}

media (prefers-color-scheme: dark) {
  a {
    background-color: #f3f3f3;
    color: white;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  h1, h3 {
    color: #FFFFFF;
  }
  
  body {
    background-color: #121212;
    color: white;
}

