body {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  color: #000000
}

h1 {
  text-allign: center;
}

a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

a.shortcuts {
  display: inline-block;
  margin-bottom: 10px;
  padding: 300px 450px;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.space {
  margin: 35px 0px;
}

@media (prefers-color-scheme: dark) {
  a {
    background-color: #f3f3f3;
    color: white
  }
  
  h1, h3 {
    color: #FFFFFF
  }
  
  body {
    background-color: #121212;
    color: white;
}

