body {
      background: #f3f3f3;
            font-family: system-ui;
            color: #000;
}


a {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.projects {
  display: inline-block;
  margin-bottom: 10px;
  padding: 20px 50%;
  border-radius: 7px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f3f3f3;
}

p.space {
  margin: 35px 0px;
}

p.bigspace {
  margin: 70px 0px;
}

div.alert-banner {
          overflow: hidden;
            border-radius: 8px;
            background-color: #ADD8E6;
            position: top;
            top: 0px;
}

.css-selector {
    background: linear-gradient(270deg, #23a6d5, #23d5ab, #e73c7e, #ee7752);
    background-size: 800% 800%;
    -webkit-animation: hero-bg 16s ease infinite;
    -moz-animation: hero-bg 16s ease infinite;
    -o-animation: hero-bg 16s ease infinite;
    animation: hero-bg 16s ease infinite;
}
@-webkit-keyframes hero-bg {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes hero-bg {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes hero-bg {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes hero-bg {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


@media (prefers-color-scheme: dark) {
  a {
    background-color: #f3f3f3;
    color: white;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  h1, h3 {
    color: #FFFFFF;
  }
  
  body {
    background-color: #121212;
    color: white;
}

